<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Blog 1</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h3>Welcome to my First Blog</h3>
    <p>My name is <b>Umesh Chandra</b> and I am a <i>ML Reseracher</i>.</p>
    <p>I am currently working on Federated Learing as part of my Honours Program at my College.</p>
    <p>Updates will be posted soon.</p>
</body>
</html>