<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>SRIRANGAM UMESH CHANDRA</h1>
      <div class="socials">
        <a href="mailto:ucs1055@gmail.com" target="_blank">GMAIL</a>
        <a href="https://github.com/srirangamuc" target="_blank">GITHUB</a>
        <a href=https://www.linkedin.com/in/umesh-chandra-srirangam target="_blank">LINKEDIN</a>
        <a href=https://twitter.com/chandra_1055uc target="_blank">TWITTER</a>
      </div>
    </div>
    <hr>
    <h2>Welcome to my Blog Page</h2>
    <p><a href="/blogs/blog1">Go to my first blog</a></p>
    <p><a href="/blogs/blog2">Federated Learning : Fundamentals</a></p>
    <p><a href="/blogs/blog3">Federated Learning : Client and Server Side Problems</a></p>
  </body>
</html>
